@import "styles/variables.scss";

.card {
  height: 600px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;

  label {
    text-transform: uppercase;
    font-size: 10px;
    color: $text-muted;
    line-height: 1;
  }

  p {
    margin: 0;
  }
}

.cardContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  max-height: 100%;
  overflow: hidden;
}


.upper {
  display: flex;
  flex-grow: 1;
}

.image {
  height: 200px;
  width: 200px;
  background-color: grey;
  margin-bottom: 10px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.id {
  h2 { margin: 0; }
  display: flex;
  align-items: center;
  small {
    margin-left: 5px;
    span {
      margin: 0 5px;
    }
  }
}

.name {
  text-transform: uppercase;
  font-family: "Courier";
  font-weight: 400;
  @include overflow-ellipsis;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 100px;
  align-items: center;
}

.skill {
  text-align: center;
  flex: 1 0 33%;
  .emoji {
    font-size: 40px;
  }
  .skilltxt {
    @include overflow-ellipsis;
  }
}

.chunk {
  flex-shrink: 1;
  overflow: scroll;
  border-top: 1px solid $list-group-border;
}

.facts {
  text-align: right;
  flex: 1 0 94px;
}

.fact p {
  @include overflow-ellipsis;
}

.fact, .answer {
  margin: 10px 0;
}
