@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import "./bootstrap/bootstrap.scss";
@import "./normalize/normalize.scss";
@import "./normalize/normalize-custom.scss";
@import "variables.scss";

html, body, ul {
  margin: 0;
  padding: 0;
}

a, button {
  transition: color 0.3s, opacity 0.3s, background 0.3s, box-shadow 0.3s;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

body, input, button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

input {
  border: 1px solid $input-border;
  padding: 10px;
  transition: border 0.3s;
  border-radius: 3px;
  &:focus {
    border-color: $primary;
  }
}
